<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:fragment="header-data(titlePage)">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${titlePage}+' - Ciencia y Salud Comunitaria UCR'"></title>
        <link rel="icon" href="/images/logotipo-mandarina2.png">
        <!--STYLES-->

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" th:href="@{../../css/material.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{../../css/general.css}">
        <!--SCRIPTS-->
        <script type="text/javascript" th:src="@{../../js/general.js}"></script>
        <!--<script th:src="@{../../js/material.min.js}"></script>-->
        <script th:src="@{../../js/debundled.js}"></script>
    </th:block>

</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <section class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary" layout:fragment="header">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <div id="nav-logo">
                <a style="display: flex; flex-direction: column; justify-content: center;" href="http://www.ucr.ac.cr/">
                    <img style="max-height: 90px;" th:src="@{../../images/firma-horizontal-dos-lineas-reverso-rgb.png}" alt=""/>
                </a>
                <a style="display: flex; flex-direction: column; justify-content: center; " href="http://www.estadistica.ucr.ac.cr/">
                    <img style="max-height: 70px;height: max-content;border-left-color: #c5c5c5; border-left-width: 1px; border-left-style: solid; margin-left: 10px; padding-left: 10px; padding-top: 2px;" th:src="@{../../images/EES-escuela-estadistica-horizontal-01.png}" alt=""/>
                </a>
                <a style="display: flex; flex-direction: column; justify-content: center; " href="/">
                    <img style="max-height: 70px;height: max-content;border-left-color: #c5c5c5; border-left-width: 1px; border-left-style: solid; margin-left: 10px; padding-left: 10px;" alt="Logo Centro de Datos Drake" th:src="@{../../images/logotipo-mandarina-dark.svg}"/>
                </a>
            </div>
            <div id="profile-box">
                <th:block sec:authorize="isAnonymous()">
                    <button id="login-menu-lower-right" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Ingresá
                    </button>

                    <ul class="mdl-menu mdl-menu--bottom-right mdl-menu mdl-js-ripple-effect mdl-js-menu login-menu"
                        for="login-menu-lower-right">
                        <!--<li class="mdl-menu__static-item">Ingresá</li>
                        <li class="mdl-menu__item">Item dinamico</li>-->
                        <li class="mdl-menu__static-item" style="line-height: unset;">
                            <form th:action="@{/login}" method="POST" style="display: flex; flex-direction: column;">
                                <div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding: 20px 0px!important;">
                                        <input class="mdl-textfield__input" type="text" id="email" name="email">
                                        <label class="mdl-textfield__label" for="email">Correo electrónico</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding: 20px 0px!important;">
                                        <input class="mdl-textfield__input" type="password" id="password" name="password">
                                        <label class="mdl-textfield__label" for="password">Contraseña</label>
                                    </div>
                                </div>
                                <div style="text-align: right;">
                                    <button class="mdl-button mdl-js-button">Crear cuenta...</button>
                                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Iniciar sesión</button>
                                </div>
                            </form>
                        </li>
                        <!--<li class="mdl-menu__item">Another Action</li>
                        <li disabled class="mdl-menu__item">Disabled Action</li>
                        <li class="mdl-menu__item">Yet Another Action</li>-->
                    </ul>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <span id="profile-chip" class="mdl-chip mdl-chip--right-contact">
                        <span class="mdl-chip__text" th:text="${#authentication.getName().split(',')[1]}"></span>
                        <span class="mdl-chip__right-contact mdl-color--teal mdl-color-text--white">A</span>
                    </span>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-menu mdl-js-ripple-effect mdl-js-menu login-menu"
                        for="profile-chip">
                        <!--<li class="mdl-menu__static-item">Ingresá</li>
                        <li class="mdl-menu__item">Item dinamico</li>
                        <li class="mdl-menu__item">Another Action</li>
                        <li disabled class="mdl-menu__item">Disabled Action</li>-->
                        <a href="/logout"><li class="mdl-menu__item">Salir</li></a>
                    </ul>

                </th:block>
            </div>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <a th:classappend="${#strings.contains(T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest().toUriString(),'inicio')} ? is-active"
               href="/inicio" class="mdl-layout__tab" >Inicio</a>
            <a th:classappend="${#strings.contains(T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest().toUriString(),'quienes-somos')} ? is-active"
               href="/quienes-somos" class="mdl-layout__tab">Quiénes somos</a>
            <a th:classappend="${#strings.contains(T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest().toUriString(),'investigacion')} ? is-active"
               href="/investigacion" class="mdl-layout__tab">Investigación</a>
            <a th:classappend="${#strings.contains(T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest().toUriString(),'accion-social')} ? is-active"
               href="/accion-social" class="mdl-layout__tab">Acción Social</a>
            <!--<a th:classappend="${#strings.contains(T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest().toUriString(),'datos')} ? is-active" href="/datos" class="mdl-layout__tab">Datos</a>-->
            <a sec:authorize="isAuthenticated()" href="#proyectos" class="mdl-layout__tab">Proyectos</a>
            <a th:classappend="${#strings.contains(T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest().toUriString(),'blogs')} ? is-active"
               href="/blogs" class="mdl-layout__tab">Blogs</a>
            <a th:classappend="${#strings.contains(T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest().toUriString(),'contactanos')} ? is-active"
               href="/contactanos" class="mdl-layout__tab">Contacto</a>
            <!--Reducir categorías-->
        </div>
    </section>
    <main class="mdl-layout__content" th:style="'background: url(' + @{../../images/backgrounds/diego38.jpeg} + ');background-size:cover;'">
    </main>

    <footer class="mdl-mega-footer" layout:fragment="footer">
        <div class="mdl-mega-footer--middle-section">
            <div class="mdl-mega-footer--drop-down-section">
                <h1 class="mdl-mega-footer--heading">Navegación</h1>
                <ul class="mdl-mega-footer__link-list">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/quienes-somos">Quiénes somos</a></li>
                    <li><a href="/investigacion">Investigación</a></li>
                    <li><a href="/accion-social">Acción social</a></li>
                    <li><a href="/blogs">Blogs</a></li>
                    <li><a href="/contactanos">Contacto</a></li>
                </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
                <h1 class="mdl-mega-footer--heading"></h1>
                <a href="http://piosa.ucr.ac.cr/tc675"><img style="border-radius: 50%; padding: 30px; border-radius: 50%; max-height: 130px;" th:src="@{../../images/escudo-tcu.jpg}" alt=""/></a>
            </div>

            <div class="mdl-mega-footer--drop-down-section">
                <h1 class="mdl-mega-footer--heading"></h1>
                <a href="https://www.fisica.ucr.ac.cr/"><img style="margin-top: 25px;max-height: 100px;" th:src="@{../../images/efis.png}" alt=""/></a>
            </div>
        </div>
        <div class="mdl-mega-footer--bottom-section">
            <ul class="mdl-mega-footer__link-list">
                <li>Desarrollado por el Equipo de Desarrollo de TC-675 | Universidad de Costa Rica</li>
            </ul>
        </div>

    </footer>
</div>

</body>
</html>