:root {
    --default-font: 'Roboto', sans-serif;
    --alternative-font: 'Helvetica', sans-serif;
    --title-font: 'Fredoka One', cursive;
}

html, body {
    font-family: var(--default-font), var(--alternative-font), sans-serif;
    margin: 0;
    padding: 0;
}

.header-box {
    display: flex;
    margin-left: 20%;
    margin-top: 2em;
}
.nav {
    display: flex;
    margin-top: 15px;
    height: fit-content;
    position: center;
    background: #EEEEEE;
    border-radius: 15em;
    opacity: 0.8;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;

}

.nav-option {
    margin: 5px;
    border-radius: 16px;
    width: fit-content;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    background: #BBBBBB;
    cursor: pointer;
    font-size: smaller;
    transition: background-color ease 1s, opacity ease 1s, color ease 1s;
    opacity: 0.4;
}

.nav-option-selected {
    opacity: 1;
    background: #444444;
    color: white;
}

.nav-option:hover {
    font-weight: bold;
    background-color: #AAAAAA;
    opacity: 0.5;
}

.nav-option-selected:hover {
    background-color: #222222;
    opacity: 1!important;
}

#nav-logo {
    height: 85%;
    flex: 1;
}

.main {
    height: calc(95vh - 100px);
    width: 100%;
}

.footer {
    background-color: lightgrey;
    height: 160px;
    position: relative;
    bottom: 0px;
    width: 100%;
    width: -webkit-fill-available;
}

.footer-box {
}

.additional-info {
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
}

#info-left-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#info-right-footer {
    flex: 1;
    text-align: right;
}
.copyright {
    position: relative;
    bottom: 0;
    background: #222222;
    color: #FFF;
    height: 5em;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

.mt-10 {
    margin-top: -10em;
}

#profile-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 16px;
}

.profile-button__non-logged {
    border-radius: 50px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.mdl-menu__container {
    margin-right: 56px;
}


/*Menu static-item styles*/

.mdl-menu__static-item {
    display: block;
    border: none;
    color: rgba(0, 0, 0, .87); /*default-item-text-color;*/
    background-color: transparent;
    text-align: left;
    margin: 0;
    padding: 0 16px;
    outline-color: #bdbdbd; /*$default-item-outline-color;*/
    position: relative;
    overflow: hidden;
/*@include typo-body-1();*/
    text-decoration: none;
    cursor: pointer;
    min-height: 48px;
    line-height: 48px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity .2s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
}
    .mdl-menu__container.is-visible .mdl-menu__static-item {
        opacity: 1;
    }

.mdl-menu__static-item::-moz-focus-inner {
     border: 0;
 }

.mdl-menu__static-item--full-bleed-divider {
     border-bottom: 1px solid rgba(0,0,0,.12);
 }

.mdl-menu__static-item[disabled], .mdl-menu__static-item[data-mdl-disabled] {
    color: #bdbdbd; /*$disabled-item-text-color;*/
    background-color: transparent;
    cursor: auto;
}
.mdl-menu__static-item[disabled]:hover, .mdl-menu__static-item[data-mdl-disabled]:hover {
     background-color: transparent;
 }

.mdl-menu__static-item[disabled]:focus, .mdl-menu__static-item[data-mdl-disabled]:focus {
     background-color: transparent;
 }

.mdl-menu__static-item[disabled], .mdl-menu__static-item[data-mdl-disabled] .mdl-ripple {
      background: transparent;
  }

.mdl-menu__item--ripple-container {
    display: block;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}