#container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 10vh;
}

body {
    margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
    border: 0px;
}

::-moz-selection {
    background-color: #6ab344;
    color: #fff;
}

::selection {
    background-color: #6ab344;
    color: #fff;
}

.saludcomunitaria-search-box .mdl-textfield__input {
    color: rgba(0, 0, 0, 0.87);
}

.saludcomunitaria-header .mdl-menu__container {
    z-index: 50;
    margin: 0 !important;
}


.mdl-textfield--expandable {
    width: auto;
}

.saludcomunitaria-fab {
    position: absolute;
    right: 20%;
    bottom: -26px;
    z-index: 3;
    background: #64ffda !important;
    color: black !important;
}

.saludcomunitaria-mobile-title {
    display: none !important;
}


.saludcomunitaria-logo-image {
    height: 28px;
    width: 140px;
}


.saludcomunitaria-header {
    overflow: visible;
    background-color: white;
}

.saludcomunitaria-header .material-icons {
    color: #767777 !important;
}

.saludcomunitaria-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
}

.saludcomunitaria-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
}

.saludcomunitaria-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.saludcomunitaria-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    justify-content: flex-end;
    width: 800px;
}

.saludcomunitaria-search-box.is-focused + .saludcomunitaria-navigation-container {
    opacity: 0;
    width: 100px;
}


.saludcomunitaria-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.saludcomunitaria-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #8bc34a;
}

.saludcomunitaria-search-box {
    order: 2;
    margin-left: 16px;
    margin-right: 16px;
}

.saludcomunitaria-more-button {
    order: 3;
}


.saludcomunitaria-drawer {
    border-right: none;
}

.saludcomunitaria-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
}

.saludcomunitaria-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
}

.saludcomunitaria-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
}

.saludcomunitaria-drawer .mdl-layout-title {
    position: relative;
    background: #6ab344;
    height: 160px;
}

.saludcomunitaria-drawer .saludcomunitaria-logo-image {
    position: absolute;
    bottom: 16px;
}

.saludcomunitaria-be-together-section {
    position: relative;
    height: 800px;
    width: auto;
    background-color: #f3f3f3;
    background: url(../../images/backgrounds/diego38.jpeg) center 30% no-repeat;
    background-size: cover;
}

.logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #ffffff;
    font-weight: 500;
    text-shadow: rgba(0,0,0,0.5) 0px 0px 5px;
}

.saludcomunitaria-slogan {
    font-size: 60px;
    padding-top: 600px;
    padding-left: 48px;
}

.saludcomunitaria-sub-slogan {
    font-size: 21px;
    padding-top: 24px;
    padding-left: 48px;
}

.saludcomunitaria-create-character {
    font-size: 21px;
    padding-top: 400px;
}

.saludcomunitaria-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
}

.saludcomunitaria-screen-section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
}

.saludcomunitaria-screens {
    text-align: right;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

.saludcomunitaria-screen {
    text-align: center;
}

.saludcomunitaria-screen .saludcomunitaria-link {
    margin-top: 16px;
    display: block;
    z-index: 2;
}

.saludcomunitaria-image-link {
    text-decoration: none;
}

.saludcomunitaria-wear {
    display: inline-block;
    width: 160px;
    margin-right: 32px;
}

.saludcomunitaria-wear .saludcomunitaria-screen-image {
    width: 40%;
    z-index: 1;
}


.saludcomunitaria-phone {
    display: inline-block;
    width: 64px;
    margin-right: 48px;
}

.saludcomunitaria-phone .saludcomunitaria-screen-image {
    width: 100%;
    z-index: 1;
}


.saludcomunitaria-tablet {
    display: inline-block;
    width: 110px;
    margin-right: 64px;
}

.saludcomunitaria-tablet .saludcomunitaria-screen-image {
    width: 100%;
    z-index: 1;
}

.saludcomunitaria-tablet .saludcomunitaria-link {
    display: block;
    z-index: 2;
}


.saludcomunitaria-tv {
    display: inline-block;
    width: 300px;
    margin-right: 80px;
}

.saludcomunitaria-tv .saludcomunitaria-screen-image {
    width: 100%;
    z-index: 1;
}


.saludcomunitaria-auto {
    display: inline-block;
    width: 300px;
    overflow: hidden;
}

.saludcomunitaria-auto .saludcomunitaria-screen-image {
    display: block;
    height: 300px;
    z-index: 1;
}


.saludcomunitaria-section {
    position: relative;/*
    background: url('../../images/backgrounds/mauricio1.jpg') center top no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;*/
}

.saludcomunitaria-band {
    width: 100%;
    text-align: center;
    background-color: #37474f;
    background-image: url("../../images/backgrounds/Isaak33.jpeg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

.saludcomunitaria-band-text {
    max-width: 800px;
    margin-left: 25%;
    padding: 24px;
    text-align: left;
    color: white;
}

.saludcomunitaria-band-text p {
    padding-top: 8px;
}

.saludcomunitaria-link {
    text-decoration: none;
    color: #8bc34a !important;
}

.saludcomunitaria-link:hover {
    color: #7cb342 !important;
}

.saludcomunitaria-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
}

.saludcomunitaria-alt-link {
    text-decoration: none;
    color: #64ffda !important;
    font-size: 16px;
}

.saludcomunitaria-alt-link:hover {
    color: #00bfa5 !important;
}

.saludcomunitaria-alt-link .material-icons {
    position: relative;
    top: 6px;
}

.saludcomunitaria-customized-section {
    text-align: center;
}

.saludcomunitaria-customized-section-text {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 16px 0 16px;
}

.saludcomunitaria-customized-section-text p {
    padding-top: 16px;
}

.saludcomunitaria-customized-section-image {
    background: url('images/devices.jpg') center top no-repeat;
    background-size: cover;
    height: 400px;
}

.saludcomunitaria-more-section {
    padding: 80px 0;
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
}

.saludcomunitaria-more-section .saludcomunitaria-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
}

.saludcomunitaria-card-container {
}

.saludcomunitaria-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
}

.saludcomunitaria-card-container .mdl-card__media img {
    width: 100%;
}

.saludcomunitaria-card-container .mdl-card__title {
    background: transparent;
    height: auto;
}

.saludcomunitaria-card-container .mdl-card__title-text {
    color: black;
    height: auto;
}

.saludcomunitaria-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 56px;
}

.saludcomunitaria-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
}

.saludcomunitaria-card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
}

.saludcomunitaria-footer {
    background-color: #fafafa;
    position: relative;
}

.saludcomunitaria-footer a:hover {
    color: #8bc34a;
}

.saludcomunitaria-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
}

.saludcomunitaria-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
}

.saludcomunitaria-footer .mdl-mega-footer--bottom-section {
    position: relative;
}

.saludcomunitaria-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
}

.saludcomunitaria-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
}


.saludcomunitaria-link-menu:hover {
    cursor: pointer;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

section .header {
    background-color: #37474f;
    padding: 45px;
    text-align: center;
    color: #fff;
    font-size: x-large;

}

section .content {
    height: 600px;
    background-color: #ffffff;
}




/**** Mobile layout ****/
@media (max-width: 900px) {
    .saludcomunitaria-navigation-container {
        display: none;
    }

    .saludcomunitaria-title {
        display: none !important;
    }

    .saludcomunitaria-mobile-title {
        display: block !important;
        position: absolute;
        left: calc(50% - 70px);
        top: 12px;
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
       consecutive "+" operators in some cases. Therefore, we need to use both
       here to cover all the bases. */
    .saludcomunitaria.saludcomunitaria-search-box.is-focused ~ .saludcomunitaria-mobile-title,
    .saludcomunitaria-search-box.is-focused + .saludcomunitaria-navigation-container + .saludcomunitaria-mobile-title {
        opacity: 0;
    }

    .saludcomunitaria-more-button {
        display: none;
    }

    .saludcomunitaria-search-box.is-focused {
        width: calc(100% - 48px);
    }

    .saludcomunitaria-search-box .mdl-textfield__expandable-holder {
        width: 100%;
    }

    .saludcomunitaria-be-together-section {
        height: 350px;
    }

    .saludcomunitaria-slogan {
        font-size: 26px;
        margin: 0 16px;
        padding-top: 24px;
    }

    .saludcomunitaria-sub-slogan {
        font-size: 16px;
        margin: 0 16px;
        padding-top: 8px;
    }

    .saludcomunitaria-create-character {
        padding-top: 200px;
        font-size: 16px;
    }

    .saludcomunitaria-create-character img {
        height: 12px;
    }

    .saludcomunitaria-fab {
        display: none;
    }

    .saludcomunitaria-band-text {
        margin-left: 0;
        padding: 16px;
    }

    .saludcomunitaria-footer .mdl-mega-footer--bottom-section {
        display: none;
    }
}