<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/template :: header-data('Nueva entrada de blog')"></th:block>
    <!--STYLES-->
    <link rel="stylesheet" th:href="@{../../css/blog-entry.css}">
    <!--<link href="https://fonts.googleapis.com/css?family=PT+Sans|Fredoka+One|Noto+Sans+JP" rel="stylesheet"/>-->
    <!--SCRIPTS-->
    <script type="text/javascript" th:src="@{../../js/blog-entry.js}"></script>
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header layout:replace="fragments/template :: header"></header>
    <main class="demo-blog demo-blog--blogpost mdl-layout__content">
        <div th:style="'background: url(' + @{../../images/backgrounds/diego32.jpeg} + ');background-size: cover; background-position-y: -300px; background-attachment: fixed; z-index: -2; height: calc(20em + 168px); margin-top: -168px;'"></div>
        <div class="demo-blog__posts mdl-grid mt-10">
            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                <div class="mdl-card__media mdl-color-text--grey-50" th:style="'background-image: url(' + @{../../images/backgrounds/default-blog-image.jpg} + ');'">
                    <h2>Nueva entrada de blog</h2>
                </div>
                <!-- Floating Multiline Textfield -->
                <form th:action="@{/blogs/publicar-entrada}" method="post" style="margin: 40px auto; max-width: 512px; width: inherit;">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: auto; display: block;">
                        <input class="mdl-textfield__input" type="text" id="title-entry" name="title-entry">
                        <label class="mdl-textfield__label" for="title-entry">Título de la entrada</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: auto; display: block;">
                        <input class="mdl-textfield__input" type="text" id="abstract-entry" name="abstract-entry" maxlength="300" >
                        <label class="mdl-textfield__label" for="abstract-entry">Resumen</label>
                        <span class="mdl-textfield__error">Límite de caracteres excedido</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield" style="width: auto; display: block;">
                        <textarea class="mdl-textfield__input" type="text" rows= "12" id="content-entry" name="content-entry" maxlength="2000"></textarea>
                        <label class="mdl-textfield__label" for="content-entry">Contenido</label>
                    </div>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="show-in-news">
                        <input type="checkbox" id="show-in-news" name="show-in-news" class="mdl-checkbox__input" checked>
                        <span class="mdl-checkbox__label">Deseo que se muestre en la sección de Noticias</span>
                    </label>
                    <div style="text-align: right; margin-top: 25px;">
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Publicar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer layout:replace="fragments/template :: footer">
    </footer>
</div>

</body>
</html>