<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/template :: header-data('Inicio')"></th:block>
    <!--STYLES-->
    <link rel="stylesheet" type="text/css" th:href="@{../../css/home.css}">
    <!--<link href="https://fonts.googleapis.com/css?family=PT+Sans|Fredoka+One|Noto+Sans+JP" rel="stylesheet"/>-->
    <!--SCRIPTS-->
    <script type="text/javascript" th:src="@{../../js/three.min.js}"></script>
    <script type="text/javascript" th:src="@{../../js/home.js}"></script>
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header layout:replace="fragments/template :: header"></header>
        <main class="mdl-layout__content" th:style="'background: url('+@{../../images/backgrounds/diego38.jpeg}+');background-size:cover;'">
            <div id="container" style="height: 80vh;"></div>
        </main>
        <footer layout:replace="fragments/template :: footer">
        </footer>
    </div>

</body>
</html>