<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/template :: header-data('Inicio')"></th:block>
    <!--STYLES-->
    <link rel="stylesheet" type="text/css" th:href="@{../../css/who-we-are.css}">
    <link rel="stylesheet" th:href="@{../../css/smart-elements/smart.default.css}" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-grid.min.css" crossorigin="anonymous">


    <!--<link href="https://fonts.googleapis.com/css?family=PT+Sans|Fredoka+One|Noto+Sans+JP" rel="stylesheet"/>-->
    <!--SCRIPTS-->
    <script type="text/javascript" th:src="@{../../js/three.min.js}"></script>
    <script type="text/javascript" th:src="@{../../js/who-we-are.js}"></script>
    <script type="module" th:src="@{../../js/components/carrousel-component.js}"></script>
    <script type="text/javascript" th:src="@{../../js/smart-elements/common.js}"></script>
    <script type="text/javascript" th:src="@{../../js/smart-elements/smart.elements.js}"></script>
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header layout:replace="fragments/template :: header"></header>
        <main class="mdl-layout__content">
            <div class="saludcomunitaria-section">
                <div class="saludcomunitaria-band">
                    <div class="saludcomunitaria-band-text">
                        <div class="mdl-typography--display-2 mdl-typography--font-thin">
                            Salud Comunitaria con ojo transdisciplinario
                        </div>
                        <p class="mdl-typography--headline mdl-typography--font-thin">
                            Estudiamos los problemas más grandes de nuestra sociedad con un enfoque transdisciplinario. Cada miembro del proyecto aporta su visión desde su disciplina en la creación de nuevo conocimiento.
                        </p>
                    </div>
                </div>
            </div>
            <section class="coordinators-section">
                <div class="header">
                    Coordinadores
                </div>
                <div class="content">
                    <div class="names-container">
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>Coordinadora</h4></div>
                            <div class="right-row col-md-4">Milena Castro Mora<br>
                                Correo: milena.castromora@ucr.ac.cr</div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>Asistente 1</h4></div>
                            <div class="right-row col-md-4">Valentina Rodríguez Fallas <br>
                                Correo: valenrofa19@gmail.com</div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>Asistente 2</h4></div>
                            <div class="right-row col-md-4">Manuel Salas Salazar<br>
                                Correo: manuel.e.salas@gmail.com</div>
                            <div class="right-row col-md-4"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="teachers-section">
                <div class="header">
                    Profesores
                </div>
                <div class="content">
                    <div class="names-container">
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>Profesores</h4></div>
                            <div class="right-row col-md-4">Milena Castro Mora<br>
                                Correo: milena.castromora@ucr.ac.cr</div>
                            <div class="right-row col-md-4"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="students-section">
                <div class="header">
                    Estudiantes
                </div>
                <div class="content">
                    <div class="names-container">
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>Estudiantes</h4></div>
                            <div class="right-row col-md-4">
                                Kevin Daniel Alvarado Villegas<br>
                                Alejandro Matarrita Valverde<br>
                                Karina Vanessa Obando Villegas<br>
                                Andrés Mauricio Chaverri Aguilar<br>
                                Eva Alexandra Abea Jezowiczova<br>
                                Carmen Sofía Román Arroyo<br>
                                María Monserrath Montero Martinez<br>
                                Gabriela Aguilar Castrillo<br>
                                Victoria Torres Zarate<br>
                                Cinthia Noelia Robles Navarro<br>
                                Dahianna María Campos Gómez<br>
                                Keilyn Andrea Castro Avendañ<br>
                                María Angélica Loría Vega<br>
                                Luis Eduardo Chinchilla Blanco<br>
                                María Sileny Vasquez Orozco<br>
                                Joselyn Calderón Mendez<br>
                                Katherine Dayana Guerrero Castro<br>
                                Lenard Josué Zamora Mata<br>
                                Kenneth Geovanny López Perez<br>
                                Simon Quesada Acuña<br>
                                Juan Carlos Rodríguez Araya<br>
                                Erik Eduardo Madrigal Zeledón<br>
                                María Fernanda Cordero Cascante<br>
                                Hannia María Aguilar Salas<br>
                            </div>
                            <div class="right-row col-md-4">
                                Luis Diego Mora Jimenez<br>
                                Raquel Gonzalez Trejos<br>
                                Pedro Rafael Campos Jiménez<br>
                                Jose Froilan Oviedo Jiménez<br>
                                Sheril Nahomy Godinez Carranza<br>
                                Josue David Jarquin Naranjo<br>
                                Carlos Daniel Vasquez Vargas<br>
                                Jonathan Josué Delgado Huertas<br>
                                Jordileth Bonilla Segura<br>
                                Daniella María Carranza Zamora<br>
                                Jessica Cubero Molina<br>
                                Nery Clarisa Valverde Chaves<br>
                                Luis Estiven García Barrantes<br>
                                Shiu Todd Supuy<br>
                                Jimena Santamaría Cordero<br>
                                Sofía Arce González<br>
                                Dinier Gamboa Gamboa<br>
                                Pablo Salvador Rodríguez Gómez<br>
                                Shiu Todd Supuy<br>
                                Jimena Santamaría Cordero<br>
                                Sofía Arce González<br>
                                Dinier Gamboa Gamboa<br>
                                Salvador Rodríguez Gómez<br>
                                Sury Chavarría<br>
                                Katherine Chavarría Meza<br>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="community-leaders-section">
                <div class="header">
                    Líderes comunitarios
                </div>
                <div class="content">
                    <div class="names-container">
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Líderes
                            </h4></div>
                            <div class="right-row col-md-4">
                                Nahia Villanueva<br>
                                Irene Fernández<br>
                                Martín<br>
                                Martina<br>
                                Rebeca<br>
                                Jorge
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Director de la Escuela Refugio, Los Planes
                            </h4></div>
                            <div class="right-row col-md-4">
                                Eugenio
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Comunidad La Palma
                            </h4></div>
                            <div class="right-row col-md-4">
                                Adriana Almengorrega
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Comunidad Rancho Quemado
                            </h4></div>
                            <div class="right-row col-md-4">
                                Jessica Roldán
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Comunidad Los Planes
                            </h4></div>
                            <div class="right-row col-md-4">
                                María Nelly Sequeira
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Escondido
                            </h4></div>
                            <div class="right-row col-md-4">
                                Eida Fletes Almengor
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Fundación Corcovado
                            </h4></div>
                            <div class="right-row col-md-4">
                                Nahia Villanueva
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Directora de la Escuela de Drake
                            </h4></div>
                            <div class="right-row col-md-4">
                                Itzel
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Sociologa y Asociación de Desarrollo
                            </h4></div>
                            <div class="right-row col-md-4">
                                Maritza
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Médico EBAIS
                            </h4></div>
                            <div class="right-row col-md-4">
                                Whitney Murillo
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Comunidad Los Planes
                            </h4></div>
                            <div class="right-row col-md-4">
                                Dionisio (Rogelia Morales)
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Comunidad Agujitas (Camping)
                            </h4></div>
                            <div class="right-row col-md-4">
                                Hilda Mendoza
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Caletas (Pulpería Lapa Roja)
                            </h4></div>
                            <div class="right-row col-md-4">
                                Virginia
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Director Liceo de Agujitas
                            </h4></div>
                            <div class="right-row col-md-4">
                                Carlos Azofeifa
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                La palma (Taller papel)
                            </h4></div>
                            <div class="right-row col-md-4">
                                Adriana Almegor V
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Los Planes
                            </h4></div>
                            <div class="right-row col-md-4">
                                Misael (Mamá)
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Profesora Rincón
                            </h4></div>
                            <div class="right-row col-md-4">
                                Verónica
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Guardaparques
                            </h4></div>
                            <div class="right-row col-md-4">
                                Adolfo Arias <br>
                                Jeffrey Esquivel
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Escuela Curime, Caletas
                            </h4></div>
                            <div class="right-row col-md-4">
                                Allan
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Comerciante (Platos, vajilla palmera)
                            </h4></div>
                            <div class="right-row col-md-4">
                                Randall Alvarado
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                        <div class="row-container row">
                            <div class="left-row col-md-2"></div>
                            <div class="left-row col-md-2"><h4>
                                Profesor (Los Planes y Agujitas)
                            </h4></div>
                            <div class="right-row col-md-4">
                                José Godinez
                            </div>
                            <div class="right-row col-md-4"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="links-section">
                <div class="header">
                    Vinculaciones
                </div>
                <div class="content">
                    <div class="linking-items-container">
                        <a href="http://www.cruzroja.or.cr/">
                            <div class="linking-item">
                                Cruz Roja Costarricense
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </main>
        <footer layout:replace="fragments/template :: footer">
        </footer>
    </div>
<!--
40804000
113980957
3100684-->
</body>
</html>