<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/template :: header-data('Inicio')"></th:block>
    <!--STYLES-->
    <link rel="stylesheet" type="text/css" th:href="@{../../css/who-we-are.css}">
    <link rel="stylesheet" th:href="@{../../css/smart-elements/smart.default.css}" type="text/css" />

    <!--<link href="https://fonts.googleapis.com/css?family=PT+Sans|Fredoka+One|Noto+Sans+JP" rel="stylesheet"/>-->
    <!--SCRIPTS-->
    <script type="text/javascript" th:src="@{../../js/three.min.js}"></script>
    <script type="text/javascript" th:src="@{../../js/who-we-are.js}"></script>
    <script type="module" th:src="@{../../js/components/carrousel-component.js}"></script>
    <script type="text/javascript" th:src="@{../../js/smart-elements/common.js}"></script>
    <script type="text/javascript" th:src="@{../../js/smart-elements/smart.elements.js}"></script>
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header layout:replace="fragments/template :: header"></header>
        <main class="mdl-layout__content">
            <div class="saludcomunitaria-section">
                <div class="saludcomunitaria-band">
                    <div class="saludcomunitaria-band-text">
                        <div class="mdl-typography--display-2 mdl-typography--font-thin">
                            Salud Comunitaria con ojo transdisciplinario
                        </div>
                        <p class="mdl-typography--headline mdl-typography--font-thin">
                            Estudiamos los problemas más grandes de nuestra sociedad con un enfoque transdisciplinario. Cada miembro del proyecto aporta su visión desde su disciplina en la creación de nuevo conocimiento.
                        </p>
                    </div>
                </div>
            </div>
            <section class="coordinators-section">
                <div class="header">
                    Coordinadores
                </div>
                <div class="content">

                </div>
            </section>
            <section class="teachers-section">
                <div class="header">
                    Profesores
                </div>
                <div class="content">

                </div>
            </section>
            <section class="students-section">
                <div class="header">
                    Estudiantes
                </div>
                <div class="content">

                </div>
            </section>
            <section class="community-leaders-section">
                <div class="header">
                    Líderes comunitarios
                </div>
                <div class="content">

                </div>
            </section>
            <section class="links-section">
                <div class="header">
                    Vinculaciones
                </div>
                <div class="content">

                </div>
            </section>
        </main>
        <footer layout:replace="fragments/template :: footer">
        </footer>
    </div>
<!--
40804000
113980957
3100684-->
</body>
</html>